<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ novel }}</title>
    <meta name="description" content="mian's 轻小说站">
    <link href="http://www.iamtxt.com/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.iamtxt.com/css/common.css" rel="stylesheet">
    <script src="http://www.iamtxt.com/js/jquery-1.11.3.min.js"></script>
    <style type="text/css">
        .newa {
            display: block;
            overflow: hidden;
            text-overflow: ellipsis; /** 超出宽度显示为......**/
            white-space: nowrap; /* 不换行 */
        }

        .wid80 {
            width: 80px;
        }
    </style>
<body>
<nav class="navbar navbar-inverse">
    <a href="/">
        <div class="container f12">
            <img src="/static/pic/logo.png">
        </div>
    </a>
</nav>
<div class="container">
    <form class="navbar-form navbar searchbar">
        <div class="form-group input-group">
            <input type="text" class="form-control searchradios" name="keyboard" placeholder="书名" id="str">
            <span class="input-group-btn">
            <button class="btn btn-default" onclick="search()">搜书</button>
            </span>
        </div>

        <div>
            <a href="/" class="searchlinks">书库</a>
            <a href="/rank" class="searchlinks">排行榜</a>
        </div>
    </form>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="text-justify col-xs-12 col-sm-9">
            <div class="row">
                <h1 id="title"></h1>
                <div class="col-xs-4 col-sm-3 nopadding">
                    <img id="pic"
                         src=""
                         alt="" class="titleimage">
                </div>
                <div class="col-xs-8 col-sm-9">
                    <ul>
                        <li class="list-unstyled" id="des1"></li>
                        <li id="des2"></li>
                        <li id="des3"></li>
                        <li id="des4"></li>
                        <li id="des5"></li>

                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="well"><strong>下载</strong>
                    <hr>
                    <span class="summary" id="down">

                    </span></div>
            </div>
            <div class="row">
                <div class="well" id="well">
                    <strong>推荐作品：</strong>
                    <hr>
                </div>
            </div>


        </div>
        <div class="text-justify col-xs-12 col-sm-3">
            <div class="row">
                <div class="well"><strong>热门电子书：</strong>
                    <hr>
                    <ul id="popu">
                    </ul>
                </div>
                <div class="well text-center">
                    <strong>
                        <p>免责声明：<br>仅供验收，请勿用于其它用途</p>
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="text-center col-md-6 col-md-offset-3">
            <p>power by mian，所有权利不保留</p>
        </div>
    </div>
</div>
<div id="signintip" style="display: none;"></div>

</body>
<style type="text/css">
    .line-limit-length {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    / / 文本不换行，这样超出一行的部分被截取，显示 . . .
    }
</style>
<script>
    String.prototype.format = function () {
        var values = arguments;
        return this.replace(/\{(\d+)\}/g, function (match, index) {
            if (values.length > index) {
                return values[index];
            } else {
                return "";
            }
        });
    };

    var jmz = {};
    jmz.GetLength = function (str) {
        ///<summary>获得字符串实际长度，中文2，英文1</summary>
        ///<param name="str">要获得长度的字符串</param>
        var realLength = 0, len = str.length, charCode = -1;
        for (var i = 0; i < len; i++) {
            charCode = str.charCodeAt(i);
            if (charCode >= 0 && charCode <= 128)
                realLength += 1;
            else
                realLength += 2;
        }
        return realLength;
    };

    function search() {
        open("/search/" + $("#str").val());
    }


    novel = "{{ novel }}";
    $.get("/api/novel/" + novel, function (j) {
        $("#title").text(novel);
        $("#pic").attr("src", "\\" + j["cover"]);
        $("#pic").attr("alt", novel);
        $("#des1").text(j["describe"][0]);
        $("#des2").text(j["describe"][1]);
        $("#des3").text(j["describe"][2]);
        $("#des4").text(j["describe"][3]);
        $("#des5").text(j["describe"][4]);
        for (var book in j["books"]) {
            a = "<a href = \"/api/novel/{1}/{0}\">{0}</a><br>".format(j["books"][book], novel);
            $("#down").append(a)
        }
    });
    $.get("/api/novels/recommend", function (j) {
        tpl = `<div class="col-xs-3 listbooks">
                        <a href="/novel/{1}">
                            <img
                                    src="{0}" alt="{1}电子书下载"
                                    class="titleimage">
                        </a>
                        <br>
                        <a class="line-limit-length newa wid80" href="/novel/{1}">{2}</a>
                    </div>`;
        for (var n in j) {
            let name = j[n][0];
            $("#well").append(tpl.format("\\" + j[n][1], j[n][0], name))
        }
    });
    $.get("/api/novels/popular", function (j) {
        let tpl = `<li><a href="/novel/{0}" style = "font-family: Monospace;font-weight:bold;" target="_blank" class="newa">{1}</a></li>`;
        for (n in j) {
            let name = "";
            let max = 20;
            name = j[n][0];

            $("#popu").append(tpl.format(j[n][0], name));

        }
    })


</script>
</html>